<h{{ .Level }} id="article-heading" class="relative group not-prose">
  {{- .Text | safeHTML -}}

  {{- if .Page.Params.showHeadingAnchors | default (.Page.Site.Params.article.showHeadingAnchors | default true) -}}
  <a class="text-neutral-200 group-hover:text-primary-600 dark:text-neutral-700 dark:group-hover:text-neutral-500 ml-1.5"
    style="text-decoration-line: none !important;" id="{{ .Anchor }}" href="#{{ .Anchor | safeURL }}"
    aria-label="Anchor">
    #
  </a>
  {{- end -}}

</h{{ .Level }}>