<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" class="scroll-smooth"
  data-default-appearance="{{ .Site.Params.defaultAppearance | default "light" }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default "true" }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="flex flex-col h-screen bg-neutral dark:bg-neutral-800 dark:text-neutral">
  {{ partial "header.html" . }}

  <div class="relative flex flex-col flex-grow">
    {{ block "main" . }}{{ end }}
    {{ partial "scroll-to-top.html" . }}
    {{ partial "footer.html" . }}
  </div>

</body>

</html>