{{- define "main" }}

<main class="flex flex-col flex-grow w-full h-max max-w-4xl self-center px-2 sm:px-8 py-2">

    {{- if not .IsHome | and .Title }}
    <header class="flex flex-col container max-w-xl mt-4 sm:mt-6">
      <div class="text-3xl flex self-start items-center text-center text-cv-dark-blue dark:text-white">
        <div class="w-2 h-2 bg-neutral-400 mr-2 inline-block rounded-lg"></div>
        <h1 class="font-bold dark:text-white">{{ .Title }}</h1>
      </div>

      {{- if .Description }}
      <div class="px-4 text-cv-dark-blue dark:text-white">
        <div class="mt-2 mb-4 max-w-lg">{{ .Description | markdownify }}</div>
      </div>
      {{- end }}
    </header>
    {{- end }}

    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    {{- $term := .Data.Term }}

    <section class="w-full flex flex-col p-2 sm:p-2 items-center md:items-start">
      {{- range $index, $page := $paginator.Pages }}
      {{ partial "post/post_card.html" . }}
      {{- end }}
    </section>

</main>

{{- end }}