{{- define "main" }}

<main class="flex flex-row flex-grow w-full h-max">

  <div class="flex flex-col flex-grow px-2 sm:px-8 md:px-28 lg:px-32">

    {{- if not .IsHome | and .Title }}
    <header class="flex flex-col container max-w-xl self-center px-4 mt-4 sm:mt-6">
      <div class="text-3xl flex self-start items-center text-center text-cv-dark-blue dark:text-white">
        <div class="w-2 h-2 bg-neutral-400 mr-2 inline-block rounded-lg"></div>
        <h1 class="font-bold dark:text-white">{{ .Title }}</h1>
      </div>

      {{- if .Description }}
      <div class="px-4 mb-4 text-cv-dark-blue dark:text-white">
        <div class="mt-2 mb-4 max-w-lg">{{ .Description | markdownify }}</div>
        <hr class="mt-4 max-w-lg" />
      </div>
      {{- end }}
    </header>
    {{- end }}

    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    {{- $term := .Data.Term }}

    <div class="w-full flex justify-center">
      <div class="flex flex-col p-2 sm:p-2 prose">
        {{- range $index, $page := $paginator.Pages }}
        {{ partial "post/post_card.html" . }}
        {{- end }}
      </div>
    </div>

  </div>

</main>

{{- end }}