{{ $current := . }}

<div class="w-full px-4">
  <ul id="mobile-navbar"
    class="flex flex-col transition-all overflow-hidden h-0 rounded-lg bg-neutral-200  dark:bg-neutral-900 dark:border-white">

    {{ range $index, $item := .Site.Menus.main }}
    {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (eq $current.RelPermalink .URL) }}
    {{ $activeClass := cond ($active) "font-bold" "" }}

    {{ $lastItem := index (last 1 $.Site.Menus.main) 0 }}

    <li>
      <a class="flex rounded-lg text-lg py-2 px-4 dark:text-white hover:text-primary-400 dark:hover:text-primary-400 {{ $activeClass }}"
        href="{{ .URL }}" title="{{ .Title }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>