{{- $jsTheme := resources.Get "js/theme.js" -}}
{{- $jsTheme = $jsTheme | resources.Minify | resources.Fingerprint "sha512" -}}
{{- $jsNavbar := resources.Get "js/mobile-navbar.js" -}}
{{- $jsNavbar = $jsNavbar | resources.Minify | resources.Fingerprint "sha512" -}}

{{/*  <script defer type="text/javascript" src="{{ $jsTheme.RelPermalink }}" integrity="{{ $jsTheme.Data.Integrity }}"></script>  */}}
{{/*  <script defer type="text/javascript" src="{{ $jsNavbar.RelPermalink }}" integrity="{{ $jsNavbar.Data.Integrity }}"></script>  */}}

<script>
  {{ $jsTheme.Content | safeJS }}
  {{ $jsNavbar.Content | safeJS }}
</script>
