{{ $showButton := (.Site.Params.features.showScrollToTop | default false) }}
{{ $showButton = and $showButton (gt .WordCount 5) }}
{{ $showButton = and $showButton (.Page.Params.ShowScrollToTop | default false) }}

{{ if $showButton }}
<div class="absolute top-[100vh] right-0 sm:right-12 w-12 pointer-events-none bottom-0">
  <a href="#" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
    class="pointer-events-auto sticky top-[calc(100vh-3.2rem)] flex h-12 w-12 items-center justify-center rounded-full bg-neutral/50 text-xl text-neutral-700 backdrop-blur hover:text-primary-600 dark:bg-neutral-800/50 dark:text-neutral-50 dark:hover:text-primary-400"
    aria-label="Scroll to the top" title="Scroll to the top">
    &uarr;
  </a>
</div>
{{ end }}
