<div class="flex items-center duration-75">
  <div
    class="text-sm cursor-pointer text-neutral-700 dark:text-neutral-50 hover:text-primary-600 dark:hover:text-primary-400">
    <button name="appearance-switcher" type="button" class="duration-75" aria-label="Switch theme">
      <div class="flex items-center justify-center dark:hidden duration-75" title="Dark theme">
        <div class="w-4 h-4">{{ partial "icon.html" "moon" }}</div>
      </div>
      <div class="items-center justify-center hidden dark:flex duration-75" title="Light theme">
        <div class="w-4 h-4">{{ partial "icon.html" "sun" }}</div>
      </div>
    </button>
  </div>
</div>
