{{ $statusSign := cond (eq .Params.Status "read") "Read" "Reading" }}
{{ $statusColour := cond (eq .Params.Status "read") "bg-green-700" "bg-blue-700" }}

<article
  class="drop-shadow-md hover:drop-shadow-lg hover:duration-500 bg-neutral-100 dark:bg-neutral-700 p-2 sm:p-4 rounded-md justify-center items-center align-middle my-2">
  <div class="flex items-center justify-between">

    <div class="text-cv-dark-blue mr-4">
      <a class="text-md md:text-xl text-neutral-800 dark:text-neutral-50 underline decoration-transparent decoration-2 underline-offset-2 hover:decoration-primary-500"
        aria-label="{{ .Title | plainify }}" href="{{ .Permalink }}">
        {{- .Title }}
      </a>


      <div class="text-sm prose dark:prose-invert">{{ .Params.Author }} {{ if .Params.Year }} — {{ .Params.Year }}
        {{ end }}</div>
    </div>

    <div class="{{ $statusColour }} rounded-md py-[2px] px-2 text-white text-sm md:font-semibold">
      {{ $statusSign }}
    </div>

  </div>
</article>