{{- define "main" }}

<main class="flex flex-col w-full h-max flex-grow">

  {{- if not .IsHome | and .Title }}
  <header class="page-header px-4 my-4 sm:my-6 flex flex-col w-1/2 self-center container">

    <div class="text-3xl flex self-center items-center text-center text-cv-dark-blue dark:text-white">
      {{/*  <div class="w-2 h-2 bg-neutral-400 mr-2 inline-block rounded-lg"></div>  */}}
      <h1 class="font-bold dark:text-white">{{ .Title }}</h1>
      {{/*  <div class="w-2 h-2 bg-neutral-400 ml-2 inline-block rounded-lg"></div>  */}}
    </div>

    {{- if .Description }}
    <div class="post-description w-2/3 text-center self-center">
      {{ .Description | markdownify }}
    </div>
    {{- end }}
  </header>
  {{- end }}

  {{- $pages := sort (union .RegularPages .Sections) "Date" "desc" }}
  {{- $paginator := .Paginate $pages }}

  <div class="w-full flex justify-center">
    <div class="flex flex-col p-2 sm:p-6">
      <div class="text-xl font-semibold dark:text-white">
        Currently reading
      </div>

      {{- range $index, $page := $pages }}
      {{ if eq $page.Params.Status "reading" }}
      {{ partial "book/book_card.html" $page }}
      {{ end }}
      {{- end }}

      <hr class="my-6" />

      {{/*  <div class="text-xl font-semibold">
        Read
      </div>  */}}

      {{- range $index, $page := $pages }}
      {{ if eq $page.Params.Status "read" }}
      {{ partial "book/book_card.html" $page }}
      {{ end }}
      {{- end }}
    </div>
  </div>

</main>

{{- end }}